<section id="landing">
  <div class="landing-img"
    style="background-image: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)),url(/img/primaria/top.jpg);">
    <h2 class="landing-title"> {{textos.titulo}}</h2>
    <h5 class="landing-subtitle">{{textos.saludo}}</h5>
  </div>
</section>

<section id="intro-text">
  <div class="contenedor">
    <h3 class="text-center mb-5">{{textos.subTitulo1}}</h3>
    <p>
      {{textos.parrafo1}}
    </p>
  </div>
</section>

<section class="c-amarillo text-white">
  <div class="contenedor">
    <h3 class="text-center">
      {{textos.subTitulo2}}
    </h3>
    <p>
      El nivel primario cuenta con educación
      <span class="bg-white t-amarillo font-weight-bold px-2"><i> bilingüe en inglés.</i></span> Es decir,
      que tienen materias como lengua, literatura ciencias en el idioma. Además, los
      alumnos participan en diferentes actividades, como el Concert y obras de
      teatro. Los estudiantes de 6to grado, cuentan con la posibilidad de rendir un
      <span class="bg-white t-amarillo font-weight-bold px-2"><i>exámen internacional</i></span> de nivel A2.
    </p>
    <p>
      En cuanto al alemán, los alumnos tienen
      <span class="bg-white t-amarillo font-weight-bold px-2"><i>clases x veces a la semana,</i></span> con el
      objetivo de poder aprenderlo
      fluidamente, desde una edad temprana. Al alcanzar 6to grado, los estudiantes tienen la posibilidad de rendir un
      <span class="bg-white t-amarillo font-weight-bold px-2"><i>exámen internacional</i></span> de nivel A2.
    </p>
    <div class="text-center">
      <a href="/deutsch" class="btn btn-lg btn-light text-warning mx-3" style="border-radius: 10px;">Más info de
        Alemán</a>
      <a href="/english" class="btn btn-lg btn-light text-warning mx-3" style="border-radius: 10px;">Más info de
        Inglés</a>
    </div>
  </div>
</section>

<section id="title-cards" class="c-rojo">
  <div class="mx-4 p-5">
    <h3 class="text-center mb-5 text-white">{{textos.subTitulo3}}</h3>
    <div class="card-deck mb-5">
      <div class="card">
        <img src="/img/primaria/matem.jpg" class="card-img-top" alt="matematicas">
        <div class="card-body pb-2">
          <h5 class="card-title">
            {{textos.cardTitulo1}}
          </h5>
          <p>
            Los alumnos tienen un espacio donde se estimula la resolución de situaciones problemáticas. En ese
            encuentro, los estudiantes comparten entre ellos las diferentes estrategias utilizadas y el modo personal
            de razonar e interpretar el problema.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="/primaria/actividades" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/primaria/salidas.jpg" class="card-img-top" alt="Salidas">
        <div class="card-body pb-2">
          <h5 class="card-title">{{textos.cardTitulo2}}</h5>
          <p>
            Planificamos salidas que favorezcan el pensamiento crítico y que permita vincular los nuevos conceptos con
            la realidad social. Suelen organizarse dentro del marco institucional, teniendo en cuenta la planificación
            anual que preparan año a año nuestros docentes y también las características e intereses de los alumnos.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="/primaria/actividades" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/primaria/muestras y eventos.jpg" class="card-img-top" alt="muestras y eventos">
        <div class="card-body pb-2">
          <h5 class="card-title">{{textos.cardTitulo3}}</h5>
          <p>
            Permite a los alumnos adquirir los conocimientos para la elaboración de proyectos que dan respuesta a
            problemas de la vida real. Se convierten en protagonistas de su propio aprendizaje y desarrollan su
            autonomía y responsabilidad, ya que son ellos los encargados de planificar, estructurar el trabajo y
            elaborar el producto para resolver cada uno de los planteos.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="/primaria/actividades" class="btn btn-dark">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="/img/primaria/tecno.jpg" class="card-img-top" alt="proyectos inicial">
        <div class="card-body pb-2">
          <h5 class="card-title">Informática y Tecnología</h5>
          <p>
            La tecnología en la educación primaria de nuestro colegio ayuda a optimizar el tiempo y la calidad de las
            tareas de los alumnos pero también de los profesionales, haciendo que sus clases sean más atractivas e
            innovadoras.
          </p>
        </div>
        <div class="card-footer text-center border-0 bg-transparent pt-0">
          <a href="/primaria/actividades" class="btn btn-dark">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="d-none">
  <div class="contenedor">
    <h3 class="text-center">Música y Arte</h3>
    <p>...</p>
    <div class="text-center">
      <a href="#" class="btn btn-dark py-2 px-3">Ver más</a>
    </div>
  </div>
</section>

<section class="c-celeste text-white d-none">
  <div class="contenedor">
    <h3 class="text-center">Educación Física</h3>
    <p>...</p>
    <div class="text-center">
      <a href="#" class="btn btn-light t-celeste py-2 px-3">Ver más</a>
    </div>
  </div>
</section>

<section class="c-amarillo text-white d-none">
  <div class="contenedor">
    <h3 class="text-center">Equipo de Orientación Escolar</h3>
    <p>...</p>
    <div class="text-center">
      <a href="#" class="btn btn-light t-amarillo py-2 px-3">Ver más</a>
    </div>
  </div>
</section>

<section class="c-rojo text-white text-center" id="horarios">
  <div class="contenedor">
    <h3 class="landing-title mb-2">La Jornada</h3>
    <h5 class="font-weight-bolder"> Jornada completa: 07:20 - 16:20</h5>
    <p class="font-italic font-weight-lighter mt-2">
      Cuenta con una hora de almuerzo
    </p>
    <ul>
      <li style="list-style-position: inside; font-size: 22px;">1er Ciclo: 11:30 a 12:30 de lunes a jueves y 12:30 a
        13:30 los viernes.</li>
      <li style="list-style-position: inside; font-size: 22px;">2do Ciclo: 12:30 a 13:30 de lunes a jueves y 11:30 a
        12:30 los viernes.</li>
    </ul>
  </div>
</section>
<section>
  <div class="contenedor">
    <div class="row my-4">
      <div class="col text-center mt-5">
        <i class="far fa-clock fa-5x mb-4 t-celeste"></i>
        <h4 class="font-weight-bolder t-celeste">
          Horario <br> Entrada
        </h4>
        <h3 class="btn c-celeste text-white btn-horario">
          07:20
        </h3>
      </div>
      <div class="col text-center mt-5">
        <i class="fa fa-utensils fa-5x mb-4 t-amarillo"></i>
        <h4 class="font-weight-bolder t-amarillo">
          Almuerzo y <br> Recreación
        </h4>
        <h3 class="btn c-amarillo text-white btn-horario">
          11:30 - 12:30
        </h3>
        <h3 class="btn c-amarillo text-white btn-horario">
          12:30 - 13:30
        </h3>
      </div>
      <div class="col text-center mt-5">
        <i class="fa fa-house-user fa-5x mb-4 t-rojo"></i>
        <h4 class="font-weight-bolder t-rojo">
          Horario<br> Salida
        </h4>
        <h3 class="btn c-rojo text-white btn-horario">
          16:20
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="c-amarillo text-white text-center pt-2 d-none">
  <div class="pt-4">
    <h3>Las Aulas</h3>
    <div id="carrusel" class="p-0">
      <div><img src="" alt="imagen de laternenfest 1"></div>
    </div>
  </div>
</section>